selector{
    property: value;
}
#body{
    width:100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.006px 0.002px;
    background: #E3E6F3;
    box-shadow: 0.1 0.06px 10px rgba(0., 0, 0, 0);
}

.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height:auto;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:rgb(12, 12, 12);
}

#navbar li a:hover,
#navbar li a.active {
    color:rgb(18, 141, 148);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(18, 141, 148);
    position: absolute;
    bottom: -4px;
    left: 20px;
}


